# ignore ALL files in ANY directory named temp
feat_extract/data/
feat_extract/track_text/
feat_extract/csv_files/
feat_extract/feature/
charts/
archive/
checkpoints/
models/__pycache__/

/__pycache__
feat_extract/src/__pycache__

*.csv
*.npy
*.npz
*.jpg
*.log
*.pyc
